<header>
  <% if params[:video_id] %>
    <h2>New Comment For <%= link_to @poly_var.title, @poly_var %></h2>
  <% elsif params[:playlist_id] %>
    <h2>New Comment For <%= link_to @poly_var.name, @poly_var %></h2>
  <% end %>
</header>

<%= render 'form' %>

<%= link_to 'Back', @poly_var %>
