<h2>All Videos</h2>
<div>
  <%= link_to 'Add New Video', new_video_path %> || <%= link_to 'Playlists', playlists_path %>
</div>
<div>
  <ul>
    <% @videos.each do |video| %>
      <li>
        <%= link_to video.title, video %>
      </li>
    <% end %>
  </ul>
</div>
