<header>
  <h2>My Playlists</h2>
</header>
<%= link_to 'Add New Playlist', new_playlist_path %> || <%= link_to 'Videos', videos_path %>

<div>
  <ul>
    <% @playlists.each do |playlist| %>
      <li><%= link_to playlist.name, playlist %></li>
    <% end %>
  </ul>
</div>
